/* Universal Styles */

html {
  font-size: 16px;
  color: #171C20;
}

@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: local('Francois One Regular'), local('FrancoisOne-Regular'), url(https://fonts.gstatic.com/s/francoisone/v11/_Xmr-H4zszafZw3A-KPSZut9wQiR.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.container {
  width: 100%;
  display: flex;
}

.container:nth-child(even) {
  background-color: #D1D6D8;
}

h1, h2, header span {
  font-family: 'Francois One', sans-serif;
}

h5, p, a, span {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.large-photo {
  height: auto;
  width: 60%;
  margin: 32px 24px;
}

.large-photo img {
  width: 100%;
  height: auto;
}

.text-box, h2, h5 {
  margin-bottom: 8px;
}

h5 a {
  color: blue;
}

p {
  font-size: 1.2rem;
}

.text-box {
  margin: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-bottom: 32px;
  margin-top: 32px;
}

aside {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border: 1px solid dimgrey;
}

nav ul li a:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  background-color: #171C20;
  transition: background-color 0.4s ease;
  color: white;
  padding: 0.8rem;
}

/* Header */

header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

header span {
  letter-spacing: 0.15rem;
}

.logo {
  display: inline-flex;
  margin-left: 24px;
  align-items: center;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

ul li a {
  margin-left: 16px;
  font-size: 1.5rem;
}

/* Banner */

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 500px;
  margin-left: 24px;
}

.banner-text a {
  width: 100%;
  padding: 20px;
  background-color: dimgray;
  text-align: center;
  font-size: 2.0rem;
  color: white;
  margin-top: 24px;
}

.banner-text a:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  background-color: #171C20;
  transition: background-color 0.6s ease;
}

/* Information */

.large-photo h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.large-photo h5 {
  margin-bottom: 50px;
}

aside img {
  width: 35%;
  margin: 16px;
}

.information.sidebar aside:nth-child(3) {
  background-color: #D1D6D8;
}

aside h5 a:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  background-color: blue;
  transition: background-color 0.4s ease;
  color: white;
  padding: 0.2rem;
  }

/* Courses */

.courses.container h1 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
}

.courses.container {
  display: block;
}

.course-boxes {
  display: flex;
  margin: 32px 72px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.course-box {
  display: flex;
  flex-direction: column;
  margin: 32px;
  border: 1px thin dimgrey;
  width: 25%;
  background-color: white;
}

.course-box img {
  height: auto;
}

/* Thesis */

.thesis.container {
  display: block;
}

.thesis.container h1 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
}

.thesis-media {
  display: inline-flex;
}

.video-container {
  height: auto;
  width: 60%;
  margin: 32px 24px;
}

video {
  width: 100%;
  height: auto;
}

.video-text {
  margin: 24px;
  width: 60%;
}

.thesis.sidebar {
  margin-top: 32px;
}

.thesis.sidebar aside {
  border: 0;
}

.thesis.sidebar aside:nth-child(odd) {
  background-color: #D1D6D8;
}

/* Footer */

footer {
  display: flex;
  height: 64px;
  justify-content: space-between;
  border-top: 1px solid dimgrey;
  padding: 16px 24px;
}

footer nav ul li a, span {
  font-size: 1.2rem;
}

footer nav ul {
  display: inline-flex;
  justify-content: flex-end;
}
