/* Universal Styles */

html {
  font-size: 16px;
  font-family: Helvetica;
  color: black;
}

.container {
  width: 100%;
  display: flex;
}

h1 {
  font-size: 3.8rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

a {
   text-decoration: none;
   color: black;
}

/* Header */

header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  display: inline-flex;
  margin-left: 24px;
  align-items: center;
}

.title {
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 700;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

ul li a {
  margin-left: 16px;
  font-size: 1.5rem;
}
